.App{
  text-align:center;
}

div{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background-color: rgb(156, 194, 244);
}

html{
  font-size: 180%;
}